.button-hover {
    transition: transform 0.3s ease-in-out;
  }
  
.button-hover:hover {
transform: scale(1.1);
}
.button-container-submit {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Aligns items to the bottom */
  position: fixed;
  bottom: 100px;
  width: 100%;


  z-index: 1000; /* To ensure it appears above other content */
}
@media (max-width: 576px) {
  .button-container-submit {
    bottom: 80px; /* Adjust as needed for small screens */
  }
}

/* Styles for screens larger than or equal to 576px */
@media (min-width: 576px) {
  .button-container-submit {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* For small screens */
@media (max-width: 576px) {
  .button-container {
    position: absolute;
    bottom: 130px; /* Adjust as needed */
    width: 100%;
    text-align: center;
  }
}

/* For larger screens */
@media (min-width: 576px) {
  .button-container {
    position: absolute;
    bottom: 400px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
  }
}


.fly-in {
  display: none;
}

@keyframes flyInAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fly-in {
  animation: flyInAnimation 1s ease forwards;
}
.fly-in.minimized {
  display: block;
  max-height: 0;
  overflow: hidden;
}
.date-cell {
  padding-left: 20px;
}

.day-count {
  display: inline-block;
  font-size: large;
  border-radius: 5px;
  text-align: left;
  
}
.main-body{
  background-image: url('images/football bg.jpg');
  height: 100vh;
}

#football {
  position: fixed;
  width: 50px;
  height: 50px;
  /* Add animation property */
  animation: float 5s infinite alternate;
}

@keyframes float {
  0% { transform: translate(-50%, -50%) translateY(0); }
  50% { transform: translate(-50%, -50%) translateY(-20px); }
  100% { transform: translate(-50%, -50%) translateY(0); }
}

.white-color-text{
  color:whitesmoke
}
.list-group-scroll {
  max-height: 800px; /* Set max height for scrollbar */
  overflow-y: auto; /* Enable vertical scrollbar */
  scrollbar-width: thin ; /* Specify scrollbar width */
}
.list-group-scroll.minimized {
  max-height: 0; /* Hide the list group when minimized */
  overflow-y: hidden; /* Hide the scrollbar when minimized */
}
.fade-in-out {
  animation: fadeInOut 4s ease-in-out;
  
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
  }
}
.right-side{
  position:relative;
  right: -123%;
  top: -200%;
}
.matches-alert {
  
  text-align: center;
  
}
.pointer-cursor {
  cursor: pointer;
}
.navbar-text {
  margin-right: 20px;
}

.navbar-nav .nav-item .btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.corner {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav .nav-item .btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    margin: 0.2rem 0;
  }
}

@media (max-width: 576px) {
  .navbar-nav .nav-item .btn {
    font-size: 0.7rem;
    padding: 0.3rem 0.6rem;
    margin: 0.1rem 0;
  }
}

.logged-user {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: add a background color with some transparency */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  color: "success";
}
.green-success {
  color: #28a745;
}
.right-align {
  margin-left: auto;
}

.fly-in-navbar {
  display: none;
}

@keyframes flyInNavbarAnimation {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

.fly-in-navbar {
  animation: flyInNavbarAnimation 1.2s ease forwards;
}
.large-text {
  font-size: 1.5rem;
}
.navbar-border {
  border-radius: 10px;
}

.content-box {
  background-color: #333; /* Background color for the box */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.fly-in-homePage {
  display: none;
}

@keyframes flyInHomePageAnimation {
  0% {
    transform: translateY(+400%);
  }
  100% {
    transform: translateY(0);
  }
}

.fly-in-homePage {
  display: block;
  animation: flyInHomePageAnimation 1.8s ease forwards;
}
.euro-logo {
  
  width: 300px;
  height: 185px;
  border-radius: 10px;
  top: 600px;
  
  
}
@media (max-width: 576px) {
  .euro-logo {
    width: 150px; /* Adjust width for small screens */
    height: auto; /* Maintain aspect ratio */
  }
}
/* App.css */

/* Style the table to be responsive */
.table {
  width: 100%;
  border-collapse: collapse;

  font-size: 16px;
  text-align: center; /* Center align text for better visual balance */
  
  position: relative;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table th {
  background-color: #f4f4f4;
}


.table tr:hover {
  background-color: #f1f1f1;
}

.table .form-control {
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

.table .text-center {
  text-align: center;
}

.table .align-middle {
  vertical-align: middle;
}

.table .team-name {
  font-weight: bold;
}

.table .score-input {
  width: 50px;
  text-align: center;
}

.left-align {
  text-align: left;
  margin-top: 30px;
}

.spacing {
  display: block;
  margin-top: 15px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .table th,
  .table td {
    padding: 8px 10px;
    font-size: 14px;
  }

  .table .team-name {
    font-size: 14px;
  }

  .table .score-input {
    width: 40px;
    padding: 4px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .table th,
  .table td {
    padding: 6px 8px;
    font-size: 12px;
  }

  .table .team-name {
    font-size: 12px;
  }

  .table .score-input {
    width: 30px;
    padding: 3px;
    font-size: 12px;
  }
}
.small-screen .table tr {
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

.small-screen .table th,
.small-screen .table td {
  padding: 10px;
}

.small-screen .table .align-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-screen .table .team-name {
  font-weight: bold;
}

.small-screen .form-control {
  width: 50px;
  text-align: center;
}

/* App.css */

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .content-box {
    padding: 16px;
    font-size: 12px;
  }

  .content-box h1 {
    font-size: 20px;
  }

  .content-box p {
    font-size: 14px;
  }

  .spacing {
    margin-top: 5px;
  }
}

.match-row-container {
  display: flex;
  justify-content: center;
}
